# List endpoints

[Docs](https://http-docs.thetadata.us/docs/theta-data-rest-api-v2/xfvx6hws9suhm-list-roots-expirations-strikes-dates)

In [1]:
import os
import time

import thetadata
from thetadata import ThetaClient
from dotenv import load_dotenv

In [2]:
# Get environment variables in .env in project root
load_dotenv()

USERNAME=os.getenv('THETAUSER')
PASSWORD=os.getenv('THETAPASS')

In [3]:
client = ThetaClient(username=USERNAME, passwd=PASSWORD)
time.sleep(8) # TODO because it isn't started yet. Need to fix

If you require API support, feel free to join our discord server! http://discord.thetadata.us
[10-27-2024 09:35:08] INFO: Starting Theta Terminal v1.6.7 Revision A...
[10-27-2024 09:35:08] INFO: Config dir: C:\Users\david\ThetaData\ThetaTerminal
[10-27-2024 09:35:08] INFO: [MDDS] Attempting login as davidmckim@gmail.com
[10-27-2024 09:35:08] INFO: [FPSS] Attempting login as davidmckim@gmail.com
[10-27-2024 09:35:09] INFO: [FPSS] CONNECTED: [nj-a.thetadata.us:20000], Bundle: STOCK.FREE, OPTION.PRO, INDEX.FREE
[10-27-2024 09:35:10] INFO: [MDDS] CONNECTED: [nj-a.thetadata.us:12000], Bundle: STOCK.FREE, OPTION.PRO, INDEX.FREE

In [4]:
client.status()

In [5]:
roots = client.roots(security_type="option")
roots

0        1BXSL
1        1CORZ
2        1INVH
3        1LNCO
4        2CLSK
         ...
13851       ZZ
13852      ZZK
13853      ZZV
13854      ZZZ
13855     ZZZ1
Name: roots, Length: 13856, dtype: object

In [6]:
exps = client.expirations(root="AAPL")
exps

0     2012-06-01
1     2012-06-08
2     2012-06-16
3     2012-06-22
4     2012-06-29
         ...
662   2025-12-19
663   2026-01-16
664   2026-06-18
665   2026-12-18
666   2027-01-15
Name: expirations, Length: 667, dtype: datetime64[ns]

In [7]:
dates = client.option_dates(
    root="AAPL",
    req="quote",
    exp=20241025,
    strike=220000,
    right='C'
    )
dates

0    2024-09-05
1    2024-09-06
2    2024-09-09
3    2024-09-10
4    2024-09-11
5    2024-09-12
6    2024-09-13
7    2024-09-16
8    2024-09-17
9    2024-09-18
10   2024-09-19
11   2024-09-20
12   2024-09-23
13   2024-09-24
14   2024-09-25
15   2024-09-26
16   2024-09-27
17   2024-09-30
18   2024-10-01
19   2024-10-02
20   2024-10-03
21   2024-10-04
22   2024-10-07
23   2024-10-08
24   2024-10-09
25   2024-10-10
26   2024-10-11
27   2024-10-14
28   2024-10-15
29   2024-10-16
30   2024-10-17
31   2024-10-18
32   2024-10-21
33   2024-10-22
34   2024-10-23
35   2024-10-24
36   2024-10-25
Name: dates, dtype: datetime64[ns]

In [8]:
dates = client.strikes(
    root="AAPL",
    exp=20241025,
    )
dates

0     100.0
1     105.0
2     110.0
3     115.0
4     120.0
5     125.0
6     130.0
7     135.0
8     140.0
9     145.0
10    150.0
11    155.0
12    160.0
13    165.0
14    170.0
15    175.0
16    180.0
17    185.0
18    190.0
19    192.5
20    195.0
21    197.5
22    200.0
23    202.5
24    205.0
25    207.5
26    210.0
27    212.5
28    215.0
29    217.5
30    220.0
31    222.5
32    225.0
33    227.5
34    230.0
35    232.5
36    235.0
37    237.5
38    240.0
39    242.5
40    245.0
41    247.5
42    250.0
43    252.5
44    255.0
45    257.5
46    260.0
47    262.5
48    265.0
49    270.0
50    275.0
51    280.0
52    285.0
53    290.0
54    295.0
55    300.0
Name: strikes, dtype: float64

In [9]:
cars = client.contracts(
    root="AAPL",
    req="quote",
    start_date=20230512,
    )
cars

            root  strike right
expiration
2024-06-21  AAPL   145.0     C
2023-05-12  AAPL    80.0     P
2023-05-12  AAPL    80.0     C
2024-06-21  AAPL   145.0     P
2025-12-19  AAPL   210.0     P
...          ...     ...   ...
2023-09-15  AAPL   145.0     C
2023-11-17  AAPL   145.0     P
2023-11-17  AAPL   145.0     C
2024-01-19  AAPL   145.0     P
2024-01-19  AAPL   145.0     C

[2114 rows x 3 columns]

In [10]:
client.kill()
client.status()

ERROR:root:TBD
ERROR:root:Could not get mdds status. Error: [WinError 10054] An existing connection was forcibly closed by the remote host