# At Time endpoints

[Docs](https://http-docs.thetadata.us/docs/theta-data-rest-api-v2/lt6lvfdlx9zi4-quote-at-time)

In [1]:
import os
import time

import thetadata
from thetadata import ThetaClient
from dotenv import load_dotenv

In [2]:
# Get environment variables in .env in project root
load_dotenv()

USERNAME=os.getenv('THETAUSER')
PASSWORD=os.getenv('THETAPASS')

In [3]:
client = ThetaClient(username=USERNAME, passwd=PASSWORD)
time.sleep(8) # TODO because it isn't started yet. Need to fix

If you require API support, feel free to join our discord server! http://discord.thetadata.us
[10-27-2024 09:33:50] INFO: Starting Theta Terminal v1.6.7 Revision A...
[10-27-2024 09:33:50] INFO: Config dir: C:\Users\david\ThetaData\ThetaTerminal
[10-27-2024 09:33:51] INFO: [MDDS] Attempting login as davidmckim@gmail.com
[10-27-2024 09:33:51] INFO: [FPSS] Attempting login as davidmckim@gmail.com
[10-27-2024 09:33:52] INFO: [MDDS] CONNECTED: [nj-a.thetadata.us:12000], Bundle: STOCK.FREE, OPTION.PRO, INDEX.FREE
[10-27-2024 09:33:53] INFO: [FPSS] CONNECTED: [nj-a.thetadata.us:20000], Bundle: STOCK.FREE, OPTION.PRO, INDEX.FREE

In [4]:
client.status()

In [5]:
eod = client.historical_eod_report(
    start_date=20241021,
    end_date=20241024,
    exp=20241024,
    right='C',
    root="SPXW",
    strike=5850000
)
eod

,ms_of_day,ms_of_day2,open,high,low,close,volume,count,bid_size,bid_exchange,bid,bid_condition,ask_size,ask_exchange,ask,ask_condition,date
trade_datetime,,,,,,,,,,,,,,,,,
2024-10-21 17:24:48.533000-04:00,17:24:48.533000,58324354,40.68,40.68,15.90,27.00,943,174,7,5,27.0,50,7,5,27.90,50,2024-10-21
2024-10-22 17:25:38.705000-04:00,17:25:38.705000,59462739,20.01,27.50,11.70,19.60,2030,373,3,5,17.2,50,14,5,17.80,50,2024-10-22
2024-10-23 17:25:01.497000-04:00,17:25:01.497000,61173064,18.15,19.60,0.90,1.35,13572,3028,1,5,1.4,50,1,5,1.45,50,2024-10-23
2024-10-24 17:18:28.698000-04:00,17:18:28.698000,57592099,1.35,4.20,0.03,0.05,36639,9273,0,5,0.0,50,1448,5,0.05,50,2024-10-24

In [6]:
quotes = client.historical_quotes(
    start_date=20241001,
    end_date=20241018,
    exp=20241018,
    right='C',
    ivl=90000,
    root="AAPL",
    strike=220000,
    start_time="9:30",
    end_time="10:30"
)
quotes

,ms_of_day,bid_size,bid_exchange,bid,bid_condition,ask_size,ask_exchange,ask,ask_condition,date
trade_datetime,,,,,,,,,,
2024-10-01 09:30:00-04:00,09:30:00,0,5,0.00,50,0,5,0.00,50,2024-10-01
2024-10-01 09:31:30-04:00,09:31:30,16,47,10.55,50,2,7,10.75,50,2024-10-01
2024-10-01 09:33:00-04:00,09:33:00,73,65,9.90,50,70,9,10.20,50,2024-10-01
2024-10-01 09:34:30-04:00,09:34:30,55,31,9.90,50,97,5,10.10,50,2024-10-01
2024-10-01 09:36:00-04:00,09:36:00,24,76,9.85,50,363,43,10.05,50,2024-10-01
...,...,...,...,...,...,...,...,...,...,...
2024-10-18 10:24:00-04:00,10:24:00,105,11,14.95,50,70,11,15.10,50,2024-10-18
2024-10-18 10:25:30-04:00,10:25:30,111,11,14.95,50,62,11,15.15,50,2024-10-18
2024-10-18 10:27:00-04:00,10:27:00,42,11,14.85,50,84,11,15.00,50,2024-10-18
2024-10-18 10:28:30-04:00,10:28:30,98,11,14.65,50,99,11,14.85,50,2024-10-18
2024-10-18 10:30:00-04:00,10:30:00,5,7,14.75,50,266,9,14.85,50,2024-10-18

In [7]:
ohlc = client.historical_ohlc(
    start_date=20241001,
    end_date=20241018,
    exp=20241018,
    right='C',
    ivl=90000,
    root="AAPL",
    strike=220000,
    start_time="9:30",
    end_time="10:30"
)
ohlc

,ms_of_day,open,high,low,close,volume,count,date
trade_datetime,,,,,,,,
2024-10-01 09:30:00-04:00,09:30:00,11.47,11.47,10.85,10.85,20,5,2024-10-01
2024-10-01 09:31:30-04:00,09:31:30,10.12,10.12,10.12,10.12,1,1,2024-10-01
2024-10-01 09:33:00-04:00,09:33:00,10.01,10.01,10.01,10.01,10,1,2024-10-01
2024-10-01 09:34:30-04:00,09:34:30,9.90,9.97,9.90,9.90,20,10,2024-10-01
2024-10-01 09:36:00-04:00,09:36:00,9.85,9.85,9.85,9.85,2,1,2024-10-01
...,...,...,...,...,...,...,...,...
2024-10-18 10:22:30-04:00,10:22:30,14.90,14.90,14.90,14.90,3,1,2024-10-18
2024-10-18 10:24:00-04:00,10:24:00,15.00,15.03,15.00,15.03,8,2,2024-10-18
2024-10-18 10:25:30-04:00,10:25:30,0.00,0.00,0.00,0.00,0,0,2024-10-18
2024-10-18 10:27:00-04:00,10:27:00,0.00,0.00,0.00,0.00,0,0,2024-10-18
2024-10-18 10:28:30-04:00,10:28:30,14.81,14.99,14.73,14.85,1717,1363,2024-10-18

In [8]:
oi = client.historical_open_interest(
    start_date=20241001,
    end_date=20241018,
    exp=20241018,
    right='C',
    ivl=90000,
    root="AAPL",
    strike=220000,
)
oi

                          ms_of_day  open_interest       date
trade_datetime
2024-10-01 06:30:08-04:00  06:30:08          25224 2024-10-01
2024-10-02 06:30:00-04:00  06:30:00          25309 2024-10-02
2024-10-03 06:30:13-04:00  06:30:13          24490 2024-10-03
2024-10-04 06:30:05-04:00  06:30:05          24700 2024-10-04
2024-10-07 06:30:05-04:00  06:30:05          24640 2024-10-07
2024-10-08 06:30:17-04:00  06:30:17          24828 2024-10-08
2024-10-09 06:30:14-04:00  06:30:14          24510 2024-10-09
2024-10-10 06:30:04-04:00  06:30:04          23848 2024-10-10
2024-10-11 06:30:11-04:00  06:30:11          23621 2024-10-11
2024-10-14 06:30:11-04:00  06:30:11          23815 2024-10-14
2024-10-15 06:30:02-04:00  06:30:02          23291 2024-10-15
2024-10-16 06:30:04-04:00  06:30:04          22473 2024-10-16
2024-10-17 06:30:04-04:00  06:30:04          21022 2024-10-17
2024-10-18 06:30:12-04:00  06:30:12          20710 2024-10-18

In [9]:
trades = client.historical_trades(
    start_date=20241001,
    end_date=20241018,
    exp=20241018,
    right='C',
    ivl=90000,
    root="AAPL",
    strike=220000,
    start_time="9:30",
    end_time="10:30"
)
trades

,ms_of_day,sequence,ext_condition1,ext_condition2,ext_condition3,ext_condition4,condition,size,exchange,price,condition_flags,price_flags,volume_type,records_back,date
trade_datetime,,,,,,,,,,,,,,,
2024-10-01 09:30:00.168000-04:00,09:30:00.168000,-875365173,255,255,255,255,130,2,6,11.47,0,7,0,0,2024-10-01
2024-10-01 09:30:01.760000-04:00,09:30:01.760000,-874917541,255,255,255,255,18,1,5,11.00,0,5,0,0,2024-10-01
2024-10-01 09:30:02.141000-04:00,09:30:02.141000,-874731871,255,255,255,255,95,1,69,11.00,0,1,0,0,2024-10-01
2024-10-01 09:30:03.964000-04:00,09:30:03.964000,-874010561,255,255,255,255,130,1,5,11.27,0,1,0,0,2024-10-01
2024-10-01 09:30:17.883000-04:00,09:30:17.883000,-871931242,255,255,255,255,130,15,6,10.85,0,5,0,0,2024-10-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-10-18 10:29:59.887000-04:00,10:29:59.887000,-334620785,255,255,255,255,130,2,6,14.84,0,1,0,0,2024-10-18
2024-10-18 10:29:59.902000-04:00,10:29:59.902000,-334620228,255,255,255,255,130,1,5,14.84,0,1,0,0,2024-10-18
2024-10-18 10:29:59.968000-04:00,10:29:59.968000,-334616990,255,255,255,255,130,1,65,14.84,0,1,0,0,2024-10-18
2024-10-18 10:29:59.982000-04:00,10:29:59.982000,-334616508,255,255,255,255,130,1,9,14.83,0,1,0,0,2024-10-18
2024-10-18 10:29:59.998000-04:00,10:29:59.998000,-334615818,255,255,255,255,130,2,6,14.85,0,1,0,0,2024-10-18

In [10]:
trade_quote = client.historical_trade_quote(
    start_date=20241001,
    end_date=20241018,
    exp=20241018,
    right='C',
    root="AAPL",
    strike=220000,
)
trade_quote

,ms_of_day,sequence,ext_condition1,ext_condition2,ext_condition3,ext_condition4,condition,size,exchange,price,...,ms_of_day2,bid_size,bid_exchange,bid,bid_condition,ask_size,ask_exchange,ask,ask_condition,date
trade_datetime,,,,,,,,,,,,,,,,,,,,,
2024-10-01 09:30:00.168000-04:00,09:30:00.168000,-875365173,255,255,255,255,130,2,6,11.47,...,34200155,1,6,11.30,50,1,6,11.65,50,2024-10-01
2024-10-01 09:30:01.760000-04:00,09:30:01.760000,-874917541,255,255,255,255,18,1,5,11.00,...,34201748,68,69,11.00,50,30,11,11.35,50,2024-10-01
2024-10-01 09:30:02.141000-04:00,09:30:02.141000,-874731871,255,255,255,255,95,1,69,11.00,...,34202131,30,11,11.00,50,28,5,11.45,50,2024-10-01
2024-10-01 09:30:03.964000-04:00,09:30:03.964000,-874010561,255,255,255,255,130,1,5,11.27,...,34203868,454,11,11.05,50,42,11,11.30,50,2024-10-01
2024-10-01 09:30:17.883000-04:00,09:30:17.883000,-871931242,255,255,255,255,130,15,6,10.85,...,34217349,4,7,10.75,50,22,76,10.95,50,2024-10-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-10-18 15:55:39.419000-04:00,15:55:39.419000,488486567,255,255,255,255,130,3,6,15.01,...,57333779,68,11,14.90,50,59,11,15.15,50,2024-10-18
2024-10-18 15:57:36.520000-04:00,15:57:36.520000,496150280,255,255,255,255,130,1,65,15.00,...,57452859,50,11,15.00,50,16,11,15.15,50,2024-10-18
2024-10-18 15:58:11.144000-04:00,15:58:11.144000,498543957,255,255,255,255,131,1,5,15.00,...,57490812,55,11,14.80,50,42,11,15.20,50,2024-10-18
2024-10-18 15:59:48.939000-04:00,15:59:48.939000,505794458,255,255,255,255,131,1,5,14.99,...,57587177,52,11,14.85,50,35,11,15.10,50,2024-10-18
2024-10-18 15:59:54.287000-04:00,15:59:54.287000,506279757,255,255,255,255,125,1,22,14.98,...,57593999,10,76,14.85,50,93,11,16.05,50,2024-10-18

In [11]:
client.kill()
client.status()

ERROR:root:TBD
ERROR:root:Could not get mdds status. Error: [WinError 10054] An existing connection was forcibly closed by the remote host