# At Time endpoints

[Docs](https://http-docs.thetadata.us/docs/theta-data-rest-api-v2/lt6lvfdlx9zi4-quote-at-time)

In [1]:
import os
import time

import thetadata
from thetadata import ThetaClient
from dotenv import load_dotenv

In [2]:
# Get environment variables in .env in project root
load_dotenv()

USERNAME=os.getenv('THETAUSER')
PASSWORD=os.getenv('THETAPASS')

In [3]:
client = ThetaClient(username=USERNAME, passwd=PASSWORD)
time.sleep(8) # TODO because it isn't started yet. Need to fix

If you require API support, feel free to join our discord server! http://discord.thetadata.us
[10-27-2024 09:31:08] INFO: Starting Theta Terminal v1.6.7 Revision A...
[10-27-2024 09:31:08] INFO: Config dir: C:\Users\david\ThetaData\ThetaTerminal
[10-27-2024 09:31:09] INFO: [MDDS] Attempting login as davidmckim@gmail.com
[10-27-2024 09:31:09] INFO: [FPSS] Attempting login as davidmckim@gmail.com
[10-27-2024 09:31:10] INFO: [FPSS] CONNECTED: [nj-a.thetadata.us:20000], Bundle: STOCK.FREE, OPTION.PRO, INDEX.FREE
[10-27-2024 09:31:10] INFO: [MDDS] CONNECTED: [nj-a.thetadata.us:12000], Bundle: STOCK.FREE, OPTION.PRO, INDEX.FREE

In [4]:
client.status()

In [5]:
quotes = client.quote_at_time(
        start_date=20241021,
        end_date=20241024,
        exp=20241024,
        ivl="15:30:30",
        right='C',
        root="SPXW",
        strike=5850000
    )
quotes

,ms_of_day,bid_size,bid_exchange,bid,bid_condition,ask_size,ask_exchange,ask,ask_condition,date
trade_datetime,,,,,,,,,,
2024-10-21 15:30:29.934000-04:00,15:30:29.934000,35,5,21.5,50,18,5,21.80,50,2024-10-21
2024-10-22 15:30:29.962000-04:00,15:30:29.962000,29,5,22.5,50,35,5,22.70,50,2024-10-22
2024-10-23 15:30:29.748000-04:00,15:30:29.748000,74,5,1.2,50,149,5,1.25,50,2024-10-23
2024-10-24 15:30:29.044000-04:00,15:30:29.044000,0,5,0.0,50,1487,5,0.05,50,2024-10-24

In [6]:
quotes = client.quote_at_time(
    start_date=20241021,
    end_date=20241024,
    exp=20241024,
    ivl="15:30:30",
    right='C',
    root="SPXW",
    strike=5850000
)
quotes

,ms_of_day,bid_size,bid_exchange,bid,bid_condition,ask_size,ask_exchange,ask,ask_condition,date
trade_datetime,,,,,,,,,,
2024-10-21 15:30:29.934000-04:00,15:30:29.934000,35,5,21.5,50,18,5,21.80,50,2024-10-21
2024-10-22 15:30:29.962000-04:00,15:30:29.962000,29,5,22.5,50,35,5,22.70,50,2024-10-22
2024-10-23 15:30:29.748000-04:00,15:30:29.748000,74,5,1.2,50,149,5,1.25,50,2024-10-23
2024-10-24 15:30:29.044000-04:00,15:30:29.044000,0,5,0.0,50,1487,5,0.05,50,2024-10-24

In [7]:
trades = client.trade_at_time(
        start_date=20241021,
        end_date=20241024,
        exp=20241024,
        ivl="15:30:30",
        right='C',
        root="SPXW",
        strike=5850000
    )
trades

,ms_of_day,sequence,ext_condition1,ext_condition2,ext_condition3,ext_condition4,condition,size,exchange,price,condition_flags,price_flags,volume_type,records_back,date
trade_datetime,,,,,,,,,,,,,,,
2024-10-21 15:30:29.202000-04:00,15:30:29.202000,839396559,255,255,255,255,130,13,5,21.68,0,1,0,0,2024-10-21
2024-10-22 15:25:13.327000-04:00,15:25:13.327000,-1887038164,255,255,255,255,130,15,5,21.30,0,1,0,0,2024-10-22
2024-10-23 15:30:22.501000-04:00,15:30:22.501000,123348966,255,255,255,255,134,1,5,1.20,0,1,0,0,2024-10-23
2024-10-24 15:29:50.006000-04:00,15:29:50.006000,2052339830,255,255,255,255,130,1,5,0.05,0,1,0,0,2024-10-24

In [8]:
trades = client.trade_at_time(
    start_date=20241021,
    end_date=20241024,
    exp=20241024,
    ivl="15:30:30",
    right='C',
    root="SPXW",
    strike=5850000
)
trades

,ms_of_day,sequence,ext_condition1,ext_condition2,ext_condition3,ext_condition4,condition,size,exchange,price,condition_flags,price_flags,volume_type,records_back,date
trade_datetime,,,,,,,,,,,,,,,
2024-10-21 15:30:29.202000-04:00,15:30:29.202000,839396559,255,255,255,255,130,13,5,21.68,0,1,0,0,2024-10-21
2024-10-22 15:25:13.327000-04:00,15:25:13.327000,-1887038164,255,255,255,255,130,15,5,21.30,0,1,0,0,2024-10-22
2024-10-23 15:30:22.501000-04:00,15:30:22.501000,123348966,255,255,255,255,134,1,5,1.20,0,1,0,0,2024-10-23
2024-10-24 15:29:50.006000-04:00,15:29:50.006000,2052339830,255,255,255,255,130,1,5,0.05,0,1,0,0,2024-10-24

In [7]:
client.kill()
client.status()