In [1]:
import os
import time

from thetadata import ThetaClient
from dotenv import load_dotenv

# Get environment variables in .env in project root
load_dotenv()

USERNAME=os.getenv('THETAUSER')
PASSWORD=os.getenv('THETAPASS')

client = ThetaClient(username=USERNAME, passwd=PASSWORD)
time.sleep(8) # TODO because it isn't started yet. Need to fix

If you require API support, feel free to join our discord server! http://discord.thetadata.us
[10-29-2024 12:24:57] INFO: Starting Theta Terminal v1.6.7 Revision A...
[10-29-2024 12:24:57] INFO: Config dir: C:\Users\david\ThetaData\ThetaTerminal
[10-29-2024 12:24:58] INFO: [MDDS] Attempting login as davidmckim@gmail.com
[10-29-2024 12:24:58] INFO: [FPSS] Attempting login as davidmckim@gmail.com
[10-29-2024 12:25:00] WARN: [FPSS] Disconnected from server: ACCOUNT_ALREADY_CONNECTED
[10-29-2024 12:25:00] WARN: [FPSS] Disconnected from server: GENERAL_VALIDATION_ERROR
[10-29-2024 12:25:00] WARN: Your password might contain invalid characters. Try resetting it: https://thetadata.net > sign out > log in > forgot password.
[10-29-2024 12:25:00] INFO: [MDDS] CONNECTED: [nj-a.thetadata.us:12000], Bundle: STOCK.FREE, OPTION.PRO, INDEX.FREE

In [4]:
quotes = client.snapshots_quotes(
        exp=20241115,
        root="AAPL",
        right='C',
        strike=250000,
    )
quotes

,ms_of_day,bid_size,bid_exchange,bid,bid_condition,ask_size,ask_exchange,ask,ask_condition,date
trade_datetime,,,,,,,,,,
2024-10-29 13:26:22.396000-04:00,13:26:22.396000,202,46,0.98,50,2,7,0.99,50,2024-10-29

In [5]:
ohlc = client.snapshots_ohlc(
        exp=20241115,
        root="AAPL",
        right='C',
        strike=250000,
    )
ohlc

,ms_of_day,open,high,low,close,volume,count,date
trade_datetime,,,,,,,,
2024-10-29 13:21:35.366000-04:00,13:21:35.366000,0.91,1.03,0.87,0.99,867,146,2024-10-29

In [6]:
trade = client.snapshots_trade(
        exp=20241115,
        root="AAPL",
        right='C',
        strike=250000,
    )
trade

,ms_of_day,sequence,size,condition,price,date
trade_datetime,,,,,,
2024-10-29 13:21:35.366000-04:00,13:21:35.366000,-95220368,1,18,0.99,2024-10-29

In [7]:
open_interest = client.snapshots_open_interest(
        exp=20241115,
        root="AAPL",
        right='C',
        strike=250000,
    )
open_interest

                          ms_of_day  open_interest       date
trade_datetime
2024-10-29 06:30:06-04:00  06:30:06          24522 2024-10-29

In [8]:
client.kill()
client.status()

ERROR:root:TBD
ERROR:root:Could not get mdds status. Error: [WinError 10061] No connection could be made because the target machine actively refused it